.curriculum-wrapper
  = render '/users/header'
  .curriculum_main
    .curriculum-title
      %p カリキュラムを選択する
    .curriculum-contents
      - @curriculums.each do |curriculum|
        .curriculum-contents__box.box
          = link_to curriculum_path(curriculum.id) do
            %p=curriculum.curriculums
            = image_tag "#{curriculum.image}", size: "200x150"
      .curriculum-contents__box3.box
        = link_to new_curriculum_path do
          %p カリキュラムをつくる
        