.curriculum-new--wrapper
  = render '/users/header'
  .curriculum-contents
    .description
      %p 手順
    .curriculum-index
      %p カリキュラムを選択する
      %ul
        - @curriculum.each do |curriculum|
          %li.curriculum-list
            = image_tag "#{curriculum.image}", size: "80x60"
            =curriculum.curriculums
            - curriculum.children.each do |child|
              %li.curriculum-list
                = child.curriculums
                - child.children.each do |g_child|
                  %li.curriculum-list
                    = link_to curriculum_drills_path(g_child.id) do
                      = g_child.curriculums
                  
                    