.curriculum-new--wrapper
  = render '/users/header'
  .curriculum-contents
    .description
    .curriculum-index
      %p カリキュラムを選択する
      %ul
        %li.curriculum-list
          =@curriculum.curriculums
          - @curriculum.children.each do |child|
            %li.curriculum-list
              - if child.children.present?
                = link_to curriculum_path(child.id) do
                  = child.curriculums
              - else
                = link_to curriculum_drills_path(child.id) do
                  = child.curriculums