= form_with(model: @form, method: :post, url: curriculum_drills_path, local: true, id: "new_form") do |form|
  .swiper-container
    .swiper-wrapper
      = form.fields_for :drills do |f|
        .swiper-slide
          .drill-content
            = f.hidden_field :curriculum_id, value: @curriculum_id
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :ancestry, value: @ancestry_id
            .drill-title-area
              .drill-title
                = f.text_area :title, placeholder: "タイトルを入力してください\n (必須：30文字以内)"
              .drill-discription
                = f.text_area :discription,  placeholder: "説明文を入力してください (必須：250文字以内)"
            #image-box-1
              #image-box__container
                = f.label :image_1, class: "image_1_label", id: "image_1" do
                  = f.file_field :image_1, value:"", class: "img_field"
                  %p.image_1_p ドラッグアンドドロップ またはクリックしてファイルをアップロード

                = f.label :image_2, class: "image_2_label", id: "image_2" do
                  = f.file_field :image_2, value:"", class: "img_field"
                  %p.image_2_p ドラッグアンドドロップ またはクリックしてファイルをアップロード
    .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
  #submit
    = form.submit

