= form_with(model: @form, method: :post, url: curriculum_drills_path, local: true) do |form|
  .swiper-container
    .swiper-wrapper
      = form.fields_for :drills do |f|
        .swiper-slide
          .drill-content
            = f.hidden_field :curriculum_id, value: @curriculum_id
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :ancestry, value: @ancestry_id
            .drill-title-area
              .drill-title
                = f.text_field :title
              .drill-discription
                = f.text_field :discription
            .drill-image-area
              .input-area
                = f.file_field :image_1, type: "file", value:"", id:"img-file1"
                = f.file_field :image_2, type: "file", value:"", id:"img-file2"
                = f.file_field :image_3, type: "file", value:"", id:"img-file3"
                %label{for:"img-file1"}
                %label{for:"img-file2"}
                %label{for:"img-file3"}
                  %p ドラッグアンドドロップ またはクリックしてファイルをアップロード
    .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
  = form.submit

