.curriculum-show-wrapper
  .curriculum-header
    .header-group
      .description
        %p HTML
  .editor-contents
    .btn-group
      %button#bold.btn.btn-default
        %i.glyphicon.glyphicon-bold
      %button#save.btn.btn-default
        %i.glyphicon.glyphicon-floppy-save
      %button#load.btn.btn-default
        %i.glyphicon.glyphicon-folder-open
    #discription
      %p h1タグを使って「Programing」と書いてみましょう！
    #editor
    .result__contents
      .iframe-area-top
        %p Preview
        %iframe{src: "frame", id: "iframe", class: "result__field"}
      .iframe-area-bottom
        %p Sample
        %iframe{src: "iframe", class: "result__sample", id: "result_iframe"}
  .curriculum-footer
    .footer-group
      .content
        .js-modal-open
          スライドを表示
      .discription
      #result-btn
        %div.result-btn 完了
  .modal.js-modal2.js-mo
    .modal__bg
      .modal__content2
        %p Congratulations!
        - if @drills.user_id != current_user.id
          = form_with(model: @progress, method: :post, id: 'form_id', url: progresses_path) do |form|
            = form.radio_button :evaluation, 2, checked: true
            = form.label :evaluation, "よく理解できた！", {value: 2, style: "display: inline-block;"}
            = form.radio_button :evaluation, 1
            = form.label :evaluation, "理解できた", {value: 1, style: "display: inline-block;"}
            = form.radio_button :evaluation, 0
            = form.label :evaluation, "少しモヤモヤ...", {value: 0, style: "display: inline-block;"}
            = form.hidden_field :curriculum_id, value: params[:curriculum_id]
            = form.hidden_field :drill_id, value: params[:id]
            = form.submit '完了', {class:'complete-btn'}
        - else
          .complete-button 完了
        .js-modal-close.close-icon
          %i.fa.fa-times-circle
  .modal.js-modal3.js-mo
    .modal__bg
      .modal__content2
        Failure... Let's look back!
        .js-modal-close.close-icon
          %i.fa.fa-times-circle
  .modal.js-modal1#modal
    .modal__bg
      .modal__content
        .swiper-container
          .swiper-wrapper
            - @drill.each do |drill_slide|
              .swiper-slide
                .drill-content
                  .drill-title-area
                    .drill-title
                      %h3=drill_slide.title
                    .drill-discription
                      %p=drill_slide.discription
                  #image-box-1
                    - if drill_slide.image_1.present? && drill_slide.image_2.present?
                      = image_tag "#{drill_slide.image_1}", alt: "image", class: "image_1"
                      = image_tag "#{drill_slide.image_2}", alt: "image", class: "image_2"
                    - elsif drill_slide.image_1.present? && drill_slide.image_2.blank? 
                      = image_tag "#{drill_slide.image_1}",  alt: "image", class: "image"
                    - else
                      .blank_area

            .swiper-slide
              .btn-area
                .js-modal-close.close-btn
                  ドリルにトライする
          .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
        .js-modal-close.close-icon
          %i.fa.fa-times-circle
%script{src:"https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"}
%script{src:"https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"}
%script{src:"https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"}

= javascript_pack_tag 'swiper'
= javascript_pack_tag 'curriculum'
= javascript_pack_tag 'result'
