.curriculum-show-wrapper
  .description
    %p 手順
  .editor-contents
    .btn-group
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
          %i.glyphicon.glyphicon-search
          %span.caret
        %ul#font-size.dropdown-menu
          %li
            %a{"data-size" => "10", :href => "#"} 小さい
          %li
            %a{"data-size" => "12", :href => "#"} 普通
          %li
            %a{"data-size" => "14", :href => "#"} 大きい
      %button#bold.btn.btn-default
        %i.glyphicon.glyphicon-bold
      %button#save.btn.btn-default
        %i.glyphicon.glyphicon-floppy-save
      %button#load.btn.btn-default
        %i.glyphicon.glyphicon-folder-open
    #editor
    .result__contents
      %iframe.result__field#iframe

  .content
    = link_to 'スライドを表示', '', {class:"js-modal-open"}
  .modal.js-modal
    .modal__bg
      .modal__content
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              = image_tag 'computer-2982270_1280.jpg', size: "300×300"
            .swiper-slide
              = image_tag 'images-381937_640のコピー2.jpg'
            .swiper-slide
              %h1 hello-----!!!
          .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
        =link_to '閉じる', '', {class:"js-modal-close"}

%script{src:"https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"}
%script{src:"https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"}
%script{src:"https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"}

= javascript_pack_tag 'swiper'
= javascript_pack_tag 'curriculum'
